html {
  scroll-behavior: smooth;
}
html, body
{
	margin: 0;
	padding: 0;
	font-family: Roboto,sans-serif;
}
body
{
	background-color: #ECECEC;
}
.index-header, .project-header, .gallery-header, .services-header, .about-header
{
	width: 100%;
	display: flex;
	position: relative;
	height: 500px;
}
.index-header
{
	background-image: url('../images/banner_image.jpg');
	background-size: cover;
}
.project-header
{
	background-image: url('../images/project_banner.jpg');
	background-size: cover;
}
.gallery-header
{
	background-image: url('../images/gallery-banner.jpg');
	background-size: cover;
}
.services-header
{
	background-image: url('../images/services-banner.jpg');
	background-size: cover;
}
.about-header
{
	background-image: url('../images/about-banner.jpg');
	background-size: cover;
}
.overlay
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.content
{
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	width: 100%;
	text-align: center;
}
.subtitle, .title, .description
{
	max-width: 970px;
	color: #ffffff;
	margin-right: auto;
	margin-left: auto;
	line-height: 18px;
}
.subtitle
{
	font-size: 14px;
	letter-spacing: 4.5px;
	font-weight: 300;
}
.title
{
	margin-top: 24px;
	font-size: 34px;
	margin-bottom: 0;
}
.description
{
	margin-top: 26px;
	font-size: 18px;
}
.my-nav
{
	 overflow: hidden;
	 z-index: 2;
	background-color: #ffffff;
}
.sticky
{
  position: fixed;
  top: 0;
  width: 100%;
}
.my-nav ul
{
	margin: 0 !important;
	list-style-type: none;
	text-align: center;
}
.my-nav ul li
{
  display: inline-block;
}
.my-nav ul li a
{
  display: inline-block;
  text-decoration: none;
  color: #111;
  padding: 20px 16px;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.my-nav ul li .active
{
  font-weight: 600;
}
.container
{
	padding: 0 100px;
}
.home-head
{
	display: flex;
}
.home-image
{
	padding: 0 10% 0 0;
	width: 40%;
}
.home-content
{
	margin-top: auto;
	margin-bottom: auto;
	width: 50%;
}
.contactus
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	background-image: linear-gradient(to right,#def,#ddd);
}
.form-input
{
	border-radius: 20px;
	margin: 10px;
	padding: 5px 15px;
	font-size: 16px;
	border: none;
}
textarea.form-input
{
	border-radius: 10px;
	resize: none;
}
.form-input:focus
{
	outline:none;
}
.btn
{
	border-radius: 20px;
	padding: 8px 20px;
	border: none;
	color: #fff;
}
.submit
{
	background-color: #dc3545;
	transition: background-color 0.6s;
}
.submit:hover
{
	background-color: #ff3545;
}
footer
{
	text-align: center;
	background-color: #111;
}
.copy
{	
	color: #fff;
	font-weight: 100;
	padding-bottom: 20px;
}
.footer
{
	color: #fff;
	display: flex;
	justify-content: space-around;
	padding: 20px 50px;
}
.links span
{
	text-decoration: underline;
	line-height: 50px;
}
.footer-icons span
{
	line-height: 50px;
}
.links a
{
	color: #fff;
	text-decoration: none;
	line-height: 25px;
}
.footer-icons a
{
	font-size: 28px;
	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
}
.photo-frame
{
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin: 0 15px 44px;
}
.photo-container
{
	position: relative;
}
.photo
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	background-size: cover;
	height: calc(100% + 40px);
	transition: transform 0.6s;
	transform: translateY(0); 
}
.photo-desc
{
	padding: 20px 20px 0 0;
	text-align: left;
	max-width: 80%;
	background-color: #fff;
	position: absolute;
	transition-property: bottom;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0.1s;
	bottom: -86px;
}
.photo-desc h1
{
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
.photo-desc span
{
	font-size: 12px;
	font-weight: 300;
}
.photo-frame:hover .photo
{
	transform: translateY(-40px);
}

.photo-frame:hover .photo-desc
{
	bottom: 0;
}
.column
{
	padding: 50px 0;
	column-count: 4;
}
.project
{
	position: relative;
	display: flex;
	margin-bottom: 50px;
}
.project-back-left
{
	position: absolute;
	right: auto;
	left: 0;
	height: 100%;
	background-size: cover;
	width: 70%;
}
.project-desc-right
{
	margin-left: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	z-index: 1;
	width: 43%;
	background-color: #fff;
	padding: 50px 60px;
}
.project-back-right
{
	position: absolute;
	left: auto;
	right: 0;
	height: 100%;
	background-size: cover;
	width: 70%;
}
.project-desc-left
{
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	z-index: 1;
	width: 43%;
	background-color: #fff;
	padding: 50px 60px;
}
.services-card
{
	width: 300px;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	padding: 46px 30px 50px 30px;
	margin: 0 15px 44px;
}
.services-icon
{
	font-size: 48px;
}
.services-card p
{
	color: #000;
	line-height: 30px;
}
.about-head
{
	display: flex;
	padding: 50px 0;
}
.about-head-img
{
	background-image: url('../images/about-head.jpg');
	background-size: cover;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	height: 270px;
}
.about-head-text
{
	width: 50%;
	padding-right: 50px;
}
.about-head-text *
{
	color: #000;
}
.about-head-text h1
{
	width: 60%;
}
.our-team
{
	text-align: center;
	margin: 50px 0;
}
.team
{
	margin: 20px;
	position: relative;
	display: inline-block;
	height: 380px;
	overflow: hidden;
}
.team-image
{
	height: 380px;
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
}
.team-text h3
{
	border-bottom: 3px solid #00ff00;
}
.team-desc
{
	position: absolute;
	right: 0;
	bottom: -380px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	text-align: center;
	height: 380px;
	transition: bottom 1s;
}
.team-desc h3, p
{
	color: #fff;
}
.team:hover .team-desc
{
	bottom: 0;
}
.work-table
{
	margin-top: 25px;
	width: 100%;
}
.work-table tr:hover > td
{
	color: #000;
	cursor: pointer;
}
.work-table tr td
{
	color: #888;
	text-align: center;
}